{% extends "base.html" %}
{% block title %}Bylaws{% endblock %}
{% block content %}
<div>
    <h1 id="top" class="center">Sigma Chi Fraternity's Greater Minnesota Alumni Chapter Bylaws</h1>
    <br />
    <h2 id="preamble" class="center">PREAMBLE<a href="#preamble" class="link"></a></h2>
    <p>Believing that where there is law there is liberty, we the members of the <strong>Greater Minnesota</strong>
        Alumni
        Chapter of the Sigma Chi Fraternity do hereby establish and solemnly promise to obey these bylaws to supplement
        and support the
        Ritual, Constitution, Statutes and Executive Committee Regulations of the Sigma Chi Fraternity for the
        government of
        our organization.
    </p>

    <br />
    <hr />
    {% include 'bylaws/article1.html' %}
    <hr />
    {% include 'bylaws/article2.html' %}
    <hr />
    {% include 'bylaws/article3.html' %}
    <hr />
    {% include 'bylaws/article4.html' %}
    <hr />
    {% include 'bylaws/article5.html' %}
    <hr />
    {% include 'bylaws/article6.html' %}
</div>
{% endblock %}
