<div class="article">
    <h2 id="article5" class="center">ARTICLE V COMMITTEES<a href="#article5" class="link"></a></h2>

    <h3 id="a5s1">Section 1 Committees<a href="#a5s1" class="link"></a></h3>
    <ol type="A">
        <li>There shall be the following standing committees:</li>
        <ul>
            <li>Executive Committee</li>
        </ul>
    </ol>

    <h3 id="a5s2">Section 2 The Executive Committee</h3>
    <ol type="A">
        <li>The executive committee shall be composed of the president, vice president, treasurer, secretary, and
            communications officer. The president shall act as chairman.
        </li>
        <li>The executive committee shall meet at least <strong>every two months</strong> for the purpose of assisting
            in
            the planning and fulfillment of a well-rounded active alumni organization program.
        </li>
        <li>The executive committee meeting may be conducted in-person or via teleconference.</li>
        <li>In addition, the executive committee shall:</li>
        <ul>
            <li>ensure that all the officers and committees have set proper goals for their term of office</li>
            <li>establish long-range goals</li>
            <li>conduct an adequate and regular evaluation of all organization operations and programs.</li>
        </ul>
    </ol>

    <h3 id="a5s3">Section 3 Special Committees<a href="#a5s3" class="link"></a></h3>
    <ol type="A">
        <li>A. The president is empowered to appoint other committees as he may see fit.</li>
        <li>At the next regular meeting, the active chapter must confirm approval of the special committee for the
            remainder
            of the fiscal year.
        </li>
        <li>Should a committee be needed for longer than the fiscal year, an amendment shall be made to these bylaws.
        </li>
    </ol>
    <div class="center">
        <a href="#article5">To top of article</a> | <a href="#top">To Top</a>
    </div>

    <br />
</div>
