<div class="article">
    <h2 id="article3" class="center">ARTICLE III MEETINGS & ELECTIONS<a href="#article3" class="link"></a></h2>

    <h3 id="a3s1">Section 1 Regular Meetings<a href="#a3s1" class="link"></a></h3>
    <ol type="A">
        <li>Regular meetings will occur at the discretion of the executive committee with no less than 21 days notice.</li>
        <li>The Governing Laws of the Sigma Chi Fraternity require a minimum of six events annually, and this chapter will conform to those rules.</li>
        <li>The executive committee will publish a proposed annual meeting and event calendar by July 31 of each year including the months in which events will be held.</li>
        <ul><li>The specific dates of the proposed events shall conform to the bylaw Article III Section 1 A.</li></ul>
    </ol>

    <h3 id="a3s2">Section 2 Special Meetings<a href="#a3s2" class="link"></a></h3>
    <ol type="A">
        <li>Special meetings of this alumni chapter may be called at any time by:</li>
        <ul>
            <li>The President</li>
            <li>A vote of the executive committee</li>
            <li>By the Secretary upon the written request of any ten members in good standing</li>
        </ul>
    </ol>

    <h3 id="a3s3">Section 3 Elections<a href="#a3s3" class="link"></a></h3>
    <ol type="A">
        <li>Elections shall be held biannually at the first ritual meeting of the year.</li>
        <li>Election shall be by simple majority of the votes cast.</li>
        <ul>
            <li>If more than two candidates are nominated for the same position, a plurality is
                sufficient for election.</li>
        </ul>
        <li>Nominations may be made to the Secretary at any point up until the closure of nominations during the business of the aforementioned ritual meeting.</li>
        <li>Elections will be held according to the rules of Article III, Section 6. Voting.</li>
        <li>No member may hold the office of President for more than two terms out of every three terms.</li>
    </ol>

    <h3 id="a3s4">Section 4 Special Elections<a href="#a3s4" class="link"></a></h3>
    <ol type="A">
        <li>Should an elected position be vacated, a special election will be held at the next business meeting unless the next election is within six months.</li>
        <li>Nominations will be made at the time of elections.</li>
    </ol>

    <h3 id="a3s5">Section 5 Quorum<a href="#a3s5" class="link"></a></h3>
    <ol type="A">
        <li>Quorum shall consist of at least five members or one quarter of the active organization membership
            (whichever is
            greater) and is required for all voting and elections.
        </li>
    </ol>

    <h3 id="a3s6">Section 6 Voting<a href="#a3s6" class="link"></a></h3>
    <ol type="A">
        <li>All alumni chapter members shall have a vote except as hereinafter provided.</li>
        <li>Voting shall be by acclamation and a majority vote of the active alumni chapter members present shall
            decide
            all questions unless otherwise provided by these bylaws.
        </li>
        <li>Any member may demand a secret ballot.</li>
        <li>The president shall vote only to break a tie.</li>
        <li>Any member of the alumni chapter whose dues payments are not current will automatically lose his right
            to vote.</li>
        <li>Any decision of a committee may be overruled by a majority vote of the active chapter.</li>
        <li>The president may request a vote of the chapter by electronic means. If this is to be done, a message will
            be sent to voting members via the approved communication channels (i.e., Facebook and email) with
            instructions on how to vote. Voting must remain open for a minimum of 7 days.</li>
    </ol>
    <div class="center">
        <a href="#article3">To top of article</a> | <a href="#top">To Top</a>
    </div>

    <br />
</div>
