<div class="article">

    <h2 id="article4" class="center">ARTICLE IV OFFICERS<a href="#article4" class="link"></a></h2>

    <h3 id="a4s1">Section 1 Organization Officers<a href="#a4s1" class="link"></a></h3>
    <ol type="A">
        <li>The officers and executive commmittee of this alumni chapter shall be:</li>
        <ul>
            <li>President</li>
            <li>Vice-President</li>
            <li>Secretary</li>
            <li>Treasurer</li>
            <li>Communications Officer</li>
            <li>Undergraduate Liaison <em>ex officio</em></li>
        </ul>
        <li>Ex officio membership on the executive committee indicates that a member should be included in all executive committee meetings and functions, but he holds no vote.</li>
    </ol>

    <h3 id="a4s2">Section 2 President<a href="#a4s2" class="link"></a></h3>
    <ol type="A">
        <li>The president shall oversee all chapter operations and programs.</li>
        <li>The president (or his designee) shall be the event coordinator for all events.</li>
        <li>The president shall serve as chairman of the executive committee.</li>
        <li>The president may assign other duties as he sees fit.</li>
    </ol>

    <h3 id="a4s3">Section 3 Vice President<a href="#a4s3" class="link"></a></h3>
    <ol type="A">
        <li>The vice president should direct committee work and obtain reports from committee chairs and event
            coordinators.
        </li>
        <li>The vice president shall perform the duties of the president in his absence.</li>
    </ol>

    <h3 id="a4s4">Section 4 Secretary<a href="#a4s4" class="link"></a></h3>
    <ol type="A">
        <li>The secretary is responsible for all correspondence and reporting to the alumni organization, and other bodies except for Headquarters as defined by Article IV Section 5.</li>
        <li>The secretary shall also:</li>
        <ol type="a">
            <li>Record and maintain minutes of all business meetings.</li>
            <li>Maintain the membership roster of the organization in conjunction with the Treasurer.</li>
            <li>Maintain an accurate database of local alumni, their addresses, phone numbers, and e-mail addresses. In
                coordination with the Grand Praetor, he shall provide this updated information to Headquarters.
            </li>
            <li>Send notices, invitations, condolences, and other necessary correspondence.</li>
            <li>Furnish Headquarters with accurate information regarding the organization's officers, members, and
                events.
            </li>
            <ol type="i">
                <li>This shall include filing the Alumni Report by February 15 of each year in collaboration with the treasurer.</li>
            </ol>
            <li>Assist the Communications officer with the distribution of the organization newsletter.</li>
            <li>Maintain the organization's official calendar in a location accessible by all members.</li>
        </ol>
    </ol>

    <h3 id="a4s5">Section 5 Treasurer<a href="#a4s5" class="link"></a></h3>
    <ol type="A">
        <li>The treasurer is responsible for all monetary affairs of the organization including establishing a checking
            account and ensuring that debts are fulfilled.
        </li>
        <li>The treasurer shall also collaborate with the secretary to ensure that communication is made to Headquarters, including the annual report and quarterly magazine updates.</li>
        <li>The treasurer shall also:</li>
        <ol type="a">
            <li>Collect local dues, reporting to the Secretary all members in good standing for recording in the rolls.
            </li>
            <li>File the proper tax forms.</li>
            <li>Prepare and distribute quarterly financial summary reports.</li>
            <li>Prepare a budget and keep track of income and expenses.</li>
            <li>Pay all financial obligations of the organization.</li>
        </ol>
    </ol>

    <h3 id="a4s6">Section 6 Communications Officer<a href="#a4s6" class="link"></a></h3>
    <ol type="A">
        <li>The communications officer shall:
             <ul>
             <li>coordinate the publication of the alumni chapter newsletter </li>
             <li>send out other publications, including occasional directories or special meeting notices.</li>
              <li>submit news of chapter activities and programs to the Magazine of Sigma Chi for publication before the deadlines in collaboration with the treasurer and the secretary.</li>
              <li>Notify the membership of meetinga nd events at least 21 days in advance via our social media platforms, email lists, and any other communications platforms.</li>
              <li>Market the organization to social media platforms, email lists, and other communication platforms after events with photos, recaps, etc.</li>
             </ul>
        </li>
    </ol>

    <h3 id="a4s7">Section 7 Undergraduate Liaison<a href="#a4s7" class="link"></a></h3>
    <ol type="A">
        <li>The undergraduate liaison is an <em>ex officio</em> member of the executive committee.</li>
        <li>The undergraduate liaison shall maintain communication with undergraduate organizations in the area.</li>
        <li>The undergraduate liaison shall be the current Grand Praetor of the North Central Province. Should the Grand Praetor be unwilling or unable to serve as the undergraduate liaison, he shall petition the alumni organization to elect his assistant or the organization advisor of an undergraduate organization in good standing by acclamation.</li>
        <li>The Undergraduate Liaison is the event coordinator of the chapter's involvement with the North Central Province meeting annually.</li>
    </ol>

    <h3 id="a4s8">Section 8 Appointed Officers<a href="#a4s8" class="link"></a></h3>
    <ol type="A">
        <li>The President shall appoint other such officers as he deems necessary.</li>
        <li>The appointed officer shall be an <em>ex officio</em> member of the executive committee per Article IV Section A</li>
        <li>Should the officer position be needed for more than the fiscal year, an amendment to the bylaws shall be made.</li>
    </ol>

    <h3 id="a4s9">Section 9 Term of Office</h3>
    <ol type="A">
        <li>The term of office for officers, both appointed and elected, shall be for two years beginning the first of <strong>July</strong> following their election and appointment.</li>
        <li>These terms shall coincide witht he biennium of the Sigma Chi International Fraternity.</li>
    </ol>

    <h3 id="a4s10">Section 10 Impeachment<a href="#a4s10" class="link"></a></h3>
    <ol type="A">
        <li>Any officer of this alumni organization may be impeached for non-exemplary conduct or conduct unbecoming of
            a
            Sigma Chi.</li>
        <li>A two-thirds vote of the alumni organization shall impeach any officer, provided charges have been openly
            preferred against the officer by a member of the organization one week prior to the meeting at which the
            impeachment vote is to be taken.
        </li>
        <li>Upon an officer's impeachment, his office shall be declared vacant.</li>
    </ol>

    <h3 id="a4s11">Section 11 Vacancies<a href="#a4s11" class="link"></a></h3>
    <ol type="A">
        <li>All vacancies in the executive committee or any office in the alumni organization, from any cause, other than the expiration of the term of office, shall follow the rules set forth in Article III, Section 3 Special Elections.</li>
        <li>Should a position become vacant within six months of elections, the President or his designee shall fulfill the duties.</li>
    </ol>
    <div class="center">
        <a href="#article3">To top of article</a> | <a href="#top">To Top</a>
    </div>

    <br />
    </div>
