<div class="article">
    <h2 id="article2" class="center">ARTICLE II MEMBERSHIP<a href="#article2" class="link"></a></h2>

    <h3 id="a2s1">Section 1 Membership<a href="#a2s1" class="link"></a></h3>
    <ol type="A">
        <li>Any member of the Sigma Chi Fraternity in good standing, and who is no longer enrolled as an undergraduate
            is
            eligible for membership in this organization upon payment of dues thereof and by abiding by all other local
            requirements.
        </li>
    </ol>

    <h3 id="a2s2">Section 2 Dues<a href="#a2s2" class="link"></a></h3>
    <ol type="A">
        <li>The dues for the members of this alumni chapter shall be <strong>$25</strong> per year except as specified in Aritcle 2 Section 2 B.</li>
        <li>If a member is three years or fewer from his graduation date, his dues shall be $5 per year</li>
        <li>Dues must be paid within 30 days of receipt of invoice from the treasurer to qualify for voting membership.</li>
        <li>Should any member fail to pay his dues, he will forfeit his voting rights and may be dropped from the membership rolls of this organization.</li>
        <li>The treasurer shall make all efforts to invoice members at the start of the fiscal year (Article 2 Section 3)</li>
    </ol>

    <h3 id="a2s3">Section 3 Fiscal Year<a href="#a2s3" class="link"></a></h3>
    <ol type="A">
        <li>The fiscal year of this alumni organization shall commence on July 1.</li>
    </ol>

    <div class="center">
        <a href="#article2">To top of article</a> | <a href="#top">To Top</a>
    </div>
    <br />
</div>
