<div class="article">
<h2 id="article1" class="center">ARTICLE I: NAME AND PURPOSE<a href="#article1" class="link"></a></h2>
<h3 id="a1s1">Section 1 Name<a href="#a1s1" class="link"></a></h3>
<ol type="A">
    <li>The name of this organization shall be the <strong>Greater Minnesota</strong> Alumni Chapter of the Sigma
        Chi Fraternity.
    </li>
</ol>

<h3 id="a1s2">Section 2 Purpose<a href="#a1s2" class="link"></a></h3>
<ol type="A">
    <li>The purpose of this alumni chapter shall be:</li>
    <ul>
        <li>Advancing the goals of friendship, justice, and learning.</li>
        <li>Strengthening the name and ideals of the Sigma Chi Fraternity.</li>
        <li>Providing and maintaining a vehicle for all area Sigma Chi alumni to share in the bonds of brotherhood.
        </li>
        <li>Assisting nearby undergraduate chapters.</li>
        <li>Supporting both financially and through participation, the programs of the Sigma Chi Fraternity and
            Foundation.
        </li>
        <li>Providing career, employment and academic guidance for both alumni and undergraduates.</li>
        <li>Providing a representative voice of area alumni regarding Fraternity issues.</li>
        <li>Contributing to the betterment of society and our communities by fostering healthy community relations
            and
            undertaking meaningful community service activities.
        </li>
    </ul>
</ol>
<div class="center">
    <a href="#article1">To top of article</a> | <a href="#top">To Top</a>
</div>
<br />
</div>
