<div class="article">
        <h2 id="article6" class="center">ARTICLE VI AMENDMENTS<a href="#article6" class="link"></a></h2>

    <h3 id="a6s1">Section 1 Amendments<a href="#a6s1" class="link"></a></h3>
    <ol type="A">
        <li>To amend these bylaws, a proposal must be presented to the executive committee in writing, after which the
            proposal shall be presented at the next regular alumni organization meeting.
        </li>
        <li>A two-thirds affirmative vote of the alumni organization present shall constitute approval of said
            amendment,
            provided quorum is met in the organization meeting as prescribed in these bylaws.
        </li>
        <li>The amendment shall go into effect immediately, unless otherwise stated in the amendment if it is approved.
        </li>
    </ol>

    <br />
        <a href="#article6">To top of article</a> | <a href="#top">To Top</a>
    </div>
