<header>
    {% block navbar %}
    <nav class="navbar navbar-light navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/static/images/favicon.ico" alt="" width="30" height="24"
                    class="d-inline-block align-text-top">
                Greater Minnesota Alumni Chapter
            </a>
            <ul style="display:flex;flex:1">
                <li class="headerLink"><a href="/">Home</a></li>
                <li class="headerLink"><a href="/about/">About</a></li>
                <li class="headerLink"><a href="/members/bylaws/">Bylaws</a></li>
                <li class="headerLink"><a href="/contact/">Contact</a></li>
                <li class="headerLink"><a href="/gallery/">Gallery</a></li>
                <li class="headerLink"><a href="/officers/">Officers</a></li>
                <li class="headerLink"><a href="/login/">Login</a></li>
            </ul>
        </nav>
        </div>
    </nav>
    {% endblock %}
</header>
